<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="michaelmcmullin.sda.firstday">

  <!--
   Camera is used for QR code reading and adding media to a procedure step. App can be run
   without it, so setting 'required' to false.
    -->
  <uses-feature
    android:name="android.hardware.camera"
    android:required="false"/>

  <!-- Although the app can run offline, most data is accessed from a Firestore DB online. -->
  <uses-permission android:name="android.permission.INTERNET"/>

  <application
    android:allowBackup="true"
    android:icon="@drawable/ic_app_icon"
    android:label="@string/app_name"
    android:roundIcon="@drawable/ic_app_icon"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">

    <!--
     App uses Firebase ML-Kit to recognise QR codes. This requires the appropriate Machine
     Learning models to be installed, 'barcode' in this case. By default, the model will be
     downloaded the first time it's used, which could result in delays. Running offline the first
     time will give no results as there's no model to work against. The following line ensures that
     the model downloads as soon as the app is installed, making it available in advance.
        -->
    <meta-data
      android:name="com.google.firebase.ml.vision.DEPENDENCIES"
      android:value="barcode"/>

    <activity android:name=".LoginActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".MainActivity">
    </activity>
    <activity android:name=".QrReaderActivity">
    </activity>
    <activity android:name=".SearchResultsActivity">
    </activity>
    <activity android:name=".ProcedureActivity">
    </activity>
    <activity android:name=".ProcedureFormActivity">
    </activity>
  </application>

</manifest>